@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';

@slider-prefix-cls: ~'@{ant-prefix}-formily-ribbon-select';

.@{slider-prefix-cls} {
  &__selection-item {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
