@cls-prefix: larkmap-context-menu;

.@{cls-prefix} {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  list-style: none;
  background: #fff;
  li {
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 35px;
  }
  li:hover {
    background: #f3f3ee;
  }
}
