.popup-area {
  min-width: 240px;

  .title-area {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .ul-style {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
      font-size: 14px;
      list-style: none;
    }

    > li:last-of-type {
      margin-bottom: 0px;
    }
  }
}
