.container {
  position: relative;
  width: 600px;
  aspect-ratio: 16 / 9;

  .default-demo {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .default-demo-eagle-container {
    position: absolute !important;
    right: 0;
    bottom: 0;
    width: 200px;
    border: 1px solid #0163ff;
    aspect-ratio: 16 / 9;
  }
}
