@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';

@collapse-prefix-cls: ~'@{ant-prefix}-custom-formily-collapse';

.@{collapse-prefix-cls} {
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0 !important;

  .@{ant-prefix}-collapse-header {
    padding: 12px 0 !important;
  }

  .@{ant-prefix}-collapse-content-box {
    padding: 5px 0 0 25px !important;
  }
}
