@cls-prefix: larkmap-legend-ramp;

.@{cls-prefix} {
  &__labelbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__disContinuous {
    display: flex;
    align-items: baseline;

    &__cell {
      &__color {
        height: 10px;
        margin-bottom: 8px;
      }
      &__label{
        text-align: center;
      }
    }

    &__cell:first-child {
      div {
        border-radius:5px 0 0 5px;
      }
    }
    &__cell:last-child {
      div {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  &__continuous {
    height: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
}

