@cls-prefix: larkmap-legend-ramp;

.@{cls-prefix} {
  &_labelbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  &_continuousBar {
    height: 10px;
    border-radius: 6px
  }


  &_equidistantBar {
    display: flex;

    &_bar {
      height: 10px;
    }

    &_bar:first-child {
      border-radius: 6px 0 0 6px;
    }

    &_bar:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
}
