@cls-prefix: larkmap-location-search;

.@{cls-prefix} {
  width: 250px;
  &_select {
    width: 100%;
  }
  &_option-name,
  &_option-address {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &_option-address {
    color: #818181;
    font-size: 12px;
  }
}
