@cls-prefix: larkmap-legend-proportion;

.@{cls-prefix} {
  display: flex;
  align-items: flex-end;

  &_circlebox {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 10px;

    &_item {
      border-radius: 50%;
      position: absolute;
      border: 1px solid #e1e3e4;
    }
  }
}
