.shape {
  margin-right: 15px;
}

.cotent {
  display: flex;
  align-items: center;

  .labels {
    letter-spacing: 2;
    text-transform: uppercase;
    font-family: PingFangSC;
    line-height: 2;
  }
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;

}

.square {
  width: 32px;
  height: 15px
}
